<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= site_title %></title>
    <script src="<%= site_url %>js/lib/jquery-3.7.1.min.js" defer="defer"></script>
    <link rel="stylesheet" href="<%= site_url %>css/lib/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= site_url %>css/custom/style.css" />
    <script src="<%= site_url %>js/lib/bootstrap.bundle.min.js" defer="defer"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <img src="<%= site_url %>site-logo.jpg" />
        <%- include('menu') %>
      </header>
      <main clss="container mt-4  py-3">
        <div class="mb-4 bg-light rounded-3">
