  <%- include('./layouts/header') %>

      <div class="container-fluid py-3">          
      <h1 class="display-5 fw-bold"><%= main_section_title %></h1>

      
    <a href="<%= site_url %>documents/Sasa_Rakic_All_Languages_Resume.pdf">Sasa_Rakic_All_Languages_Resume.pdf</a>
    /
    <a href="<%= site_url %>documents/Sasa_Rakic_All_Languages_Resume.docx">Sasa_Rakic_All_Languages_Resume.docx</a>
   
  <%- include('./layouts/footer') %>